<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MilkTeaOrderAndInventorySystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MilkTeaOrderAndInventorySystem.My.MySettings.accountdbConnectionString"
            connectionString="server=localhost;user id=root;password=0102bryan;persistsecurityinfo=True;database=accountdb;port=3306"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MilkTeaOrderAndInventorySystem.My.MySettings>
            <setting name="userEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="userRememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userUsername" serializeAs="String">
                <value />
            </setting>
        </MilkTeaOrderAndInventorySystem.My.MySettings>
    </userSettings>
</configuration>